@tailwind base;
@tailwind components;
@tailwind utilities;


/* İsteğe bağlı: Tüm uygulama için varsayılan font ve renk */
body {
  background-color: #36393f;
  color: white;
}


@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scaleIn 0.2s ease-out forwards;
}

@keyframes bounceShort {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.animate-bounce-short {
  animation: bounceShort 0.5s ease-in-out;
}